<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 text-center">
            <img src="assets/images/logo.png" width="150px" class="user-avatar"/>
            <h1>IGNUG</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="password" [(ngModel)]="this.user.password"
                               class="form-control input-underline input-lg" id="password"
                               name="password" placeholder="Ingrese la nueva contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="repeatPassword"
                               class="form-control input-underline input-lg"
                               id="repeatPassword"
                               name="repeatPassword" placeholder="Repita la contraseña">
                    </div>
                </div>
                <button class="btn btn-primary btn-lg rounded-btn" (click)="resetPassword()">Cambiar Contraseña</button>
                <button class="btn btn-success btn-lg rounded-btn ml-3" (click)="redirect(user.role.rol)">Regresar
                </button>
            </form>
        </div>
    </div>
</div>
