<div class="row">
    <div class="col-lg-12">
        <ngb-tabset>
            <ngb-tab title="Formulario" id="tab1">
                <ng-template ngbTabContent>
                    <app-formulario></app-formulario>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Solicitud" id="tab2">
                <ng-template ngbTabContent>
                    <app-solicitud></app-solicitud>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

