 <table>
     <tr>
         <td>

               <span [ngClass]="{'text-danger':periodoLectivoSeleccionado.estado!='ACTUAL',
                    'text-success':periodoLectivoSeleccionado.estado=='ACTUAL'}" >
                        <strong>{{txtPeriodoActualHistorico}} :</strong>
                    </span>
         </td>

         <td>
                    <select [disabled]="flagAll" name="periodoLectivoActual"
                            [(ngModel)]="periodoLectivoActual.id" class="form-control"
                            (change)="cambiarPeriodoLectivoActual()">

                        <option [ngClass]="{'bg-success text-white':periodo.estado=='ACTUAL'}" value="{{periodo.id}}"
                                *ngFor="let periodo of periodosLectivos">{{periodo.nombre}}</option>
                    </select>
         </td>
     </tr>
 </table>

<div class="row mt-1" *ngIf="!flagAll" >
    <div class="col-lg-12">
        <table class="table">
            <thead class="table text-center">
                <th scope="col">Identificacion:</th>
                <th scope="col">Nombres:</th>
                <th scope="col">Apellidos:</th>
                <th scope="col">Correo Insitucional:</th>
                <th scope="col">Estado:</th>
                <th scope="col">
                    <button type="button" class="btn btn-success ml-1 btn-sm"
                        (click)="getDocentesAsignados();" title="Actualizar">
                    <span class="{{messages['buttonRefresh']['icon']}}"></span>
                </button>
            </th>

            </thead>

            <tbody class="text-center" >
              <tr *ngFor="let datadocente of docenteDetalle">

                <td> {{datadocente.identificacion}} </td>

                <td> {{datadocente.nombre1}}  {{datadocente.nombre2}} </td>
                <td> {{datadocente.apellido1}}  {{datadocente.apellido2}} </td>

                <td> {{datadocente.correo_institucional}} </td>
                <td>
  <span [ngClass]="{'text-danger':datadocente.estado!=='ACTIVO'
                ,'text-success':datadocente.estado=='ACTIVO'}">
                {{datadocente.estado}}

                </span>
                </td>

                <td>

                <button type="button" class="btn btn-info ml-1 btn-sm text-white" (click)="getDetalleDocente(datadocente)" title="Ver Registro">
    <span class="fa fa-bars">

    </span>
        </button>
    </td>
</tr>
            </tbody>
          </table>
    </div>
</div>


<div class="row" *ngIf="flagAll">
    <div class="col-lg-12">
<table>
    <tr>
        <td>
        <button type="button" class="btn btn-secondary btn-lg mb-1" (click)="getDocentesAsignados()">
            <span class="fa fa-arrow-left text-white"> Regresar</span>
        </button>

        </td>
        <td class=" text-muted">
          <h2>{{docenteSeleccionado.apellido1 + ' ' + docenteSeleccionado.apellido2 + ' '
        + docenteSeleccionado.nombre1 + ' ' + docenteSeleccionado.nombre2}}
          </h2>
        </td>

    </tr>
</table>
        <table class="table table-hover table-lg table-responsive">
            <thead class="table text-center">
       <!---     <th scope="col">Carrera:</th>-->
            <th scope="col">Asignatura:</th>
            <th scope="col">Nivel:</th>
            <th scope="col">Jornada:</th>
            <th scope="col">Paralelo:</th>
            <th scope="col">Estado:</th>

            <th scope="col">

                <button [disabled]="periodoLectivoSeleccionado.estado=='HISTORICO'" type="button" class="btn btn-success ml-1 btn-sm"
                 (click)="opendetalledocenteasignaturas(contentDetalleDocenteAsignatura)"
                title="Añadir Registro">
        <span class="{{messages['buttonAdd']['icon']}}">
          {{messages['buttonAdd']['text']}}
        </span>
        </button>

            </th>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let docenteAsignatura of detalleDocente">

                  <!--  <td>
                        {{'{%pendiente%}'}}
            </td>-->

            <td>

                        {{docenteAsignatura.asignatura.nombre}}

                    </td>

                    <td>
                        {{docenteAsignatura.asignatura.periodo_academico_id}}
                    </td>

                    <td>
                        <select disabled [(ngModel)]="docenteAsignatura.jornada" class="text-uppercase form-control-sm">
                    <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
                        {{jornada.descripcion}}
                    </option>
                         </select>
                    </td>

             <td>
                <select disabled [(ngModel)]="docenteAsignatura.paralelo" class="text-uppercase form-control-sm">
            <option value="{{paralelo.codigo}}" *ngFor="let paralelo of paralelos">
                <strong>{{paralelo.descripcion}}</strong>
            </option>
                 </select>
             </td>

                    <td>
                        <span [ngClass]="{'text-danger':docenteAsignatura.estado!=='ACTIVO',
                                          'text-success':docenteAsignatura.estado=='ACTIVO'}">

                            {{docenteAsignatura.estado}}
                        </span>

                    </td>

                    <td>
                    <button type="button" class="btn btn-warning ml-1 btn-sm text-white"
                    (click)="opendetalledocenteasignaturasUpdate(contentUpdateDetalleDocenteAsignatura)"
                    title="Modificar Registro"
                            [disabled]="periodoLectivoSeleccionado.estado=='HISTORICO'|| docenteAsignatura.estado=='ANULADO'">
       <span class="{{messages['buttonUpdate']['icon']}}"></span>
           </button>

                    <button type="button" class="btn btn-danger ml-1 btn-sm text-white"(click)="deleteAsignaturaDocente(docenteAsignatura)"
                    title="Anular Registro" *ngIf="docenteAsignatura.estado=='ACTIVO'">
       <span class="{{messages['buttonDelete']['icon']}}"></span>
        </button>

    </td>


<ng-template #contentUpdateDetalleDocenteAsignatura let-c="close" let-d="dismiss">
    <form name="UpdateDetalleDocente" method="post" #formCtrl="ngForm">
        <div class="modal-header">
            <div class="row">
                <h4 class="col-lg-auto text-center" name="titulo">Modificar Registro</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-lg-auto">
                    <label >
                        <b class="text-danger">Primero seleccione una carrera</b>:
                    </label>
                    <select  [(ngModel)]="carrera.id" class="form-control" name="carrera" required >
                        <option>Seleccione una carrera</option>
                        <option value="{{carrera.id}}" *ngFor="let carrera of carreras" class="small">
                            {{ carrera.descripcion }}
                        </option>
                    </select>
                </div>
                </div>

            <div class="form-group row">
                <div class="col-lg-10">
                    <label for="editasignatura">
                        <b class="text-danger"></b>Asignatura:
                    </label>
                    <select  (click)="getAsignaturasCarrera()" [(ngModel)]="docenteAsignatura.asignatura.id" class="form-control" id="editasignatura" name="editasignatura" required
                             (change)="updateDetalleDocenteAsignatura(docenteAsignatura)">
                        <option> Seleccione una asignatura</option>
                        <option value="{{asignatura.id}}" *ngFor="let asignatura of asignaturas">
                            {{asignatura.periodo_academico.id + ' ' + asignatura.nombre}}
                        </option>
                    </select>
                </div>
                </div>

            <div class="form-row">
                <div class="col-lg-auto">
                    <label for="createJornada">
                        <b class="text-danger"></b> Jornada:
                    </label>
                        <select [(ngModel)]="docenteAsignatura.jornada" class="text-uppercase form-control-sm"
                        id="jornada" name="jornada" required
                        (change)="updateDetalleDocenteAsignatura(docenteAsignatura)">
                    <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
                        {{jornada.descripcion}}
                    </option>
                </select>
                </div>
                <div class="col-lg-auto">
                    <label for="createParalelo">
                        <b class="text-danger"></b> Paralelo:
                    </label>
                    <select [(ngModel)]="docenteAsignatura.paralelo" class="text-uppercase form-control-sm"
                            id="Paralelo" name="Paralelo" required
                            (change)="updateDetalleDocenteAsignatura(docenteAsignatura)">
                        <option value="{{paralelo.codigo}}" *ngFor="let paralelo of paralelos">
                           {{paralelo.descripcion}}
                        </option>
                    </select>
                </div>
            </div>

        <div class="modal-footer">
            <h6 class="text-muted">
                <b class="text-danger">{{messages['requiredFields2']['icon']}} </b>
                {{messages['requiredFields2']['text']}}
            </h6>
            <button type="button" class="btn btn-secondary" (click)="c('close')" >
        <span class="{{messages['saveConfirmationDialog2']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog2']['cancel']}}
            </button>
        </div>
    </div>
    </form>
</ng-template>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #contentDetalleDocenteAsignatura let-c="close" let-d="dismiss">
    <form name="cupos" method="post" #formCtrl="ngForm">
        <div class="modal-header">
            <div class="row">
                <h4 class="col-lg-auto text-center" name="titulo">Nuevo Registro:</h4>
            </div>
        </div>
        <div class="modal-body">
<!--Carrera-->
<div class="form-group row">
<div class="col-lg-auto">
    <label>
        <b class="text-danger">Primero seleccione una carrera</b>:
    </label>
    <select  [(ngModel)]="carrera.id" class="form-control"
            id="carrera" name="carrera" required >
        <option value="0" selected>Seleccione una carrera</option>
        <option value="{{carrera.id}}" *ngFor="let carrera of carreras" class="small">
            {{ carrera.descripcion }}
        </option>
    </select>
</div>
</div>
            <!--Asignatura-->
            <div class="form-group row">
                <div class="col-lg-12">
                    <label for="asignatura">
                        <b class="text-danger">*</b>Asignatura:
                    </label>
                    <select  [(ngModel)]="detalleDocenteasignaturaNuevo.asignatura.id" class="form-control"
                            id="asignatura"name="asignatura" required (click)="getAsignaturasCarrera()">
                        <option  selected>Seleccione una asignatura</option>
                        <option value="{{asignatura.id}}" *ngFor="let asignatura of asignaturas" class="small">
                            {{asignatura.periodo_academico.id +' '+ asignatura.nombre }}
                        </option>
                    </select>
                </div>
                </div>
            <!--Jornada-->
            <div class="form-group row">
                <div class="col-lg-auto">
                    <label for="createJornada">
                        <b class="text-danger">*</b> Jornada:
                    </label>
                    <select [(ngModel)]="detalleDocenteasignaturaNuevo.jornada" class="form-control"
                            id="createJornada" name="createJornada" required>
                        <option value="" selected>Seleccione una jornada</option>
                        <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
                            {{jornada.descripcion}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-auto">
                    <label for="createParalelo">
                        <b class="text-danger">*</b> Paralelo:
                    </label>
                    <select [(ngModel)]="detalleDocenteasignaturaNuevo.paralelo" class="form-control"
                            id="createParalelo" name="createParalelo" required>
                        <option value="" selected>Seleccione un paralelo</option>
                        <option value="{{paralelo.codigo}}" *ngFor="let paralelo of paralelos">
                            {{paralelo.descripcion}}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <h6 class="text-muted">
                <b class="text-danger">{{messages['requiredFields']['icon']}} </b>
                {{messages['requiredFields']['text']}}
            </h6>
            <button type="button" class="btn btn-success" (click)="c('save')" [disabled]="formCtrl.form.invalid">
        <span
            class="{{messages['saveConfirmationDialog']['iconOk']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['ok']}}
            </button>
            <button type="button" class="btn btn-danger" (click)="c('close')">
        <span
            class="{{messages['saveConfirmationDialog']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['cancel']}}
            </button>
        </div>
    </form>
</ng-template>

