<table>
    <tr>
        <td>
               <span  [ngClass]="{'text-danger':periodoLectivoSeleccionado.estado!='ACTUAL',
                    'text-success':periodoLectivoSeleccionado.estado=='ACTUAL'}" >
                        <strong>{{txtPeriodoActualHistorico}} :</strong>
                    </span>
        </td>

        <td>
            <select [disabled]="flagAll" name="periodoLectivoActual"
                    [(ngModel)]="periodoLectivoActual.id" class="form-control"
                    (change)="cambiarPeriodoLectivoActual()">
                <option [ngClass]="{'bg-success text-white':periodo.estado=='ACTUAL'}" value="{{periodo.id}}"
                        *ngFor="let periodo of periodosLectivos">{{periodo.nombre}}
                </option>
            </select>
        </td>
            <td>
        <div>
            <small class="text-muted" *ngIf="!flagAll" > * seleccione un periodo para revisar sus asignaciones.</small>
        </div>
            </td>

    </tr>
</table>

<!---Form--->

<div class="row mt-1" *ngIf="!flagAll">
    <div class="col-lg-12">

        <table class="table table-hover table-lg table-responsive">
            <thead class="table-default text-justify">
           <!--- <th scope="col">Carrera:</th>-->
            <th>Asignatura:</th>
            <th>Nivel:</th>
            <th>Jornada:</th>
            <th>Paralelo:</th>
            <th>
                <button type="button" class="btn btn-success ml-1 btn-sm" (click)="getDocenteAsignaturasUser(periodoLectivoSeleccionado)"
                         title="Actualizar">
                    <span class="{{messages['buttonRefresh']['icon']}}"></span>
                </button>

            </th>

            </thead>

            <tbody class="text-justify">
            <tr *ngFor="let docenteasignatura of detalleDocenteAsignatura ">
             <!--   <td>
                {{'{%pendiente%}'}}
                </td>-->
                <td>
                {{docenteasignatura.asignatura.nombre}}
                </td>

                <td>
                    {{docenteasignatura.asignatura.periodo_academico_id}}
                </td>

                <td>
                    <select disabled [(ngModel)]="docenteasignatura.jornada" class="text-uppercase form-control-sm">
                        <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
                            {{jornada.descripcion}}
                        </option>
                    </select>
                </td>

                <td>

                    <select disabled [(ngModel)]="docenteasignatura.paralelo" class="text-uppercase form-control-sm">
                        <option value="{{paralelo.codigo}}" *ngFor="let paralelo of paralelos">
                            <h1>{{paralelo.descripcion}}</h1>
                        </option>
                    </select>
                </td>

                <td>
                    <button type="button" class="btn btn-secondary ml-1 btn-sm text-white"
                            (click)="getdetalleasignaturaestudiantes(docenteasignatura)"
                            title="Lista de estudiantes matriculados ">
    <span class="fa fa-users">

    </span>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="flagAll">
    <div class="col-lg-12">
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-secondary btn-lg mb-1" (click)="getDocenteAsignaturasUser(periodoLectivoSeleccionado)">
                        <span class="fa fa-arrow-left text-white"> Regresar</span>
                    </button>

                </td>
                <td class="text-muted " >
                    <h4>
                        {{'Estudiantes matriculados en:' }} {{detalleDocenteAsignaturaSeleccionado.asignatura.nombre}}
                    </h4>
                </td>

            </tr>
        </table>

        <table class="table text-justify">
            <thead>
            <th>Apellidos</th>
            <th>Nombres:</th>
            <th>Correo Institucional:</th>
            </thead>

        <tbody class="text-justify">
        <tr *ngFor="let estudiante of DetalleEstudiante ">

            <td>
            {{estudiante.estudiante.apellido1}} {{estudiante.estudiante.apellido2}}
            </td>

            <td>
            {{estudiante.estudiante.nombre1}} {{estudiante.estudiante.nombre2}}
            </td>

            <td>
            {{estudiante.estudiante.correo_institucional}}
            </td>

            <td>
                <button type="button" class="btn btn-info ml-1 btn-sm text-white fa fa-bookmark" aria-hidden=true
                        title="Registrar calificaciones" (click)="openDetalleNotas(estudiante,contentDetalleNota)">
                </button>
                <button type="button" class="btn btn-warning ml-1 btn-sm text-white fa fa-pencil" aria-hidden=true
                        title="Revisar,Editar calificaciones" (click)="openDetalleNotaUpdate(contentDetalleNotaUpdate)" >
                </button>
            </td>
        </tr>
        </tbody>
        </table>

    </div>
</div>

<!--modal update-->
<ng-template #contentDetalleNotaUpdate let-c="close" let-d="dismiss">
    <form name="updateDetalleNota" method="post" #formCtrl="ngForm" >
        <div class="modal-header">
            <div class="row">
                <h4 class="col-lg-auto text-center">Actualizar Calificaciones - Asistencias</h4>
            </div>
        </div>

        <div class="modal-body">
        <table class="table-sm">
            <table class="table table-responsive" >
                <h5 class="text-center"><b>Calificaciones:</b></h5>
                <td>
               <div>
                   <label>Primer parcial:</label>
                   <input size="5" maxlength="5">
               </div>
                </td>

                <td>
                <div>
                    <label>segundo parcial:</label>
                    <input size="5" maxlength="5">
                </div>
                </td>

                <td>

                    <div>
                        <label>Final:</label>
                        <input class="left" size="5" maxlength="5">
                    </div>
                </td>
            </table>

            <table class="table table-responsive">
                <h5 class="text-center"><b>Asistencias:</b></h5>
                <td>
                    <div>
                        <label>Primer parcial:</label>
                        <input size="5" maxlength="5">
                    </div>
                </td>

                <td>
                    <div>
                        <label>segundo parcial:</label>
                        <input size="5" maxlength="5">
                    </div>
                </td>

                <td>
                    <div>
                        <label>Final:</label>
                        <input size="5" maxlength="5">
                    </div>
                </td>

            </table>

            <div class="text-left">
                <input type="text" size="10" maxlength="10" value="APROBADO" disabled>
            </div>
        </table>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info fa fa-pencil-square-o"  (click)="c('save')" [disabled]="formCtrl.form.invalid">Actualizar
            </button>

            <button type="button" class="btn btn-danger fa fa-times" (click)="c('close')">Cancelar
            </button>
        </div>
   </form>
</ng-template>

<!--modal create-->
<ng-template #contentDetalleNota let-c="close" let-d="dismiss">
    <form name="postdDtalleNota" method="post" #formCtrl="ngForm">

        <div class="modal-header">
            <div class="row">
                <h4 class="col-lg-auto text-center">Registrar Calificaciones - Asistencias:</h4>
            </div>
        </div>

        <div class="modal-body">
            <table class="table-sm">
                <table class="table table-responsive" >
                    <h5 class="text-center"><b>Calificaciones:</b></h5>
                    <td>
            <div>
                <label for="nota1">Primer parcial:</label>
                <input style="width: 4em;" id="nota1"  name="nota1" type="number" required="required"
                       ng-model="number" onKeyPress="if(this.value.length==5) return false;" min="2" [(ngModel)]="detallenotanuevo.nota1">
            </div>
                    </td>
                    <td>

            <div>
                <label for="nota2">Segundo parcial:</label>
                <input  style="width: 4em;" id="nota2" name="nota2" type="number" required="required"
                        ng-model="number" onKeyPress="if(this.value.length==5) return false;" min="2" [(ngModel)]="detallenotanuevo.nota2">

            </div>
                    </td>
                    <td>
            <div>
                <label>Final:</label>
                <input disabled name="nota_final" size="5" value="{{(this.detallenotanuevo.nota1/2)+(this.detallenotanuevo.nota2/2)}}">
            </div>
                    </td>
                </table>



                <table class="table table-responsive" >
                    <h5 class="text-center"><b>Asistencias:</b></h5>
                    <td>
            <div>
                <label for="asistencia1"> primer parcial:
                </label>
                <input  style="width: 4em;" id="asistencia1"  name="asistencia1" type="number" required="required"
                        ng-model="number" onKeyPress="if(this.value.length==5) return false;" min="2" [(ngModel)]="detallenotanuevo.asistencia1">
            </div>
                    </td>

                    <td>
            <div>
                <label for="asistencia2"> segundo parcial:</label>
                <input  style="width: 4em;" id="asistencia2" name="asistencia2"  type="number" required="required"
                        ng-model="number" onKeyPress="if(this.value.length==5) return false;" min="2" [(ngModel)]="detallenotanuevo.asistencia2">
            </div>
                    </td>

                    <td>
            <div>
                <label> Final:</label>
                <input disabled  name="asistencia_final" size="5" value="{{(this.detallenotanuevo.asistencia1/2) + (this.detallenotanuevo.asistencia2/2)}}">
            </div>
                    </td>
                </table>

            <div>
                <input disabled name="estado_academico"  size="10" maxlength="10"
                       value="{{((this.detallenotanuevo.nota1/(2)) + (this.detallenotanuevo.nota2/(2))>= 69.50)
                            &&  ((this.detallenotanuevo.asistencia1/(2)) + (this.detallenotanuevo.asistencia2/(2))>=70.00) ? 'APROBADO' :'REPROBADO'}}">
            </div>

            </table>
        </div>

        <div class="modal-footer">
            <h6 class="text-muted">
                <b class="text-danger">{{messages['requiredFields']['icon']}} </b>
                {{messages['requiredFields']['text']}}
            </h6>
            <button type="button" class="btn btn-success" (click)="c('save')" [disabled]="formCtrl.form.invalid">
        <span
            class="{{messages['saveConfirmationDialog']['iconOk']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['ok']}}
            </button>
            <button type="button" class="btn btn-danger" (click)="c('close')">
        <span
            class="{{messages['saveConfirmationDialog']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['cancel']}}
            </button>
        </div>
    </form>
</ng-template>

