<table>
    <tr>
        <td>

               <span  [ngClass]="{'text-danger':periodoLectivoSeleccionado.estado!='ACTUAL',
                    'text-success':periodoLectivoSeleccionado.estado=='ACTUAL'}" >
                        <strong>{{txtPeriodoActualHistorico}} :</strong>
                    </span>
        </td>

        <td>
            <select [disabled]="flagAll" name="periodoLectivoActual"
                    [(ngModel)]="periodoLectivoActual.id" class="form-control"
                    (change)="cambiarPeriodoLectivoActual()">
                <option [ngClass]="{'bg-success text-white':periodo.estado=='ACTUAL'}" value="{{periodo.id}}"
                        *ngFor="let periodo of periodosLectivos">{{periodo.nombre}}
                </option>
            </select>
        </td>
            <td>
        <div>
            <small class="text-muted" *ngIf="!flagAll" > * seleccione un periodo para revisar sus asignaciones.</small>
        </div>
            </td>

    </tr>
</table>

<!---Form--->

<div class="row mt-1" *ngIf="!flagAll">
    <div class="col-lg-12">

        <table class="table table-hover table-lg table-responsive">
            <thead class="table-default text-center">
            <th scope="col">Carrera:</th>
            <th scope="col">Asignatura:</th>
            <th scope="col">Nivel:</th>
            <th scope="col">Jornada:</th>
            <th scope="col">Paralelo:</th>



            <th scope="col">
                <button type="button" class="btn btn-success ml-1 btn-sm" (click)="getDocenteAsignaturasUser(periodoLectivoSeleccionado)"
                         title="Actualizar">
                    <span class="{{messages['buttonRefresh']['icon']}}"></span>
                </button>

            </th>

            </thead>

            <tbody class="text-center">
            <tr *ngFor="let test of detalleDocenteAsignatura ">
                <td>
                {{'{%pendiente%}'}}
                </td>
                <td>
                {{test.asignatura.nombre}}
                </td>

                <td>
                    {{test.asignatura.periodo_academico_id}}
                </td>

                <td>
                    <select disabled [(ngModel)]="test.jornada" class="text-uppercase form-control-sm">
                        <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
                            {{jornada.descripcion}}
                        </option>
                    </select>
                </td>

                <td>

                    <select disabled [(ngModel)]="test.paralelo" class="text-uppercase form-control-sm">
                        <option value="{{paralelo.codigo}}" *ngFor="let paralelo of paralelos">
                            <h1>{{paralelo.descripcion}}</h1>
                        </option>
                    </select>
                </td>

                <td>
                    <button type="button" class="btn btn-secondary ml-1 btn-sm text-white"
                            (click)="getdetalleasignaturaestudiantes(test)"
                            title="Lista de estudiantes matriculados ">
    <span class="fa fa-users">

    </span>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="flagAll">
    <div class="col-lg-12">
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-secondary btn-lg mb-1" (click)="getDocenteAsignaturasUser(periodoLectivoSeleccionado)">
                        <span class="fa fa-arrow-left text-white"> Regresar</span>
                    </button>

                </td>
                <td class="text-muted " >
                    <h4>
                        {{'Estudiantes matriculados en:' }} {{detalleDocenteAsignaturaSeleccionado.asignatura.nombre}}
                    </h4>
                </td>

            </tr>
        </table>
        <table class="table text-center text-muted">
            <thead>
            <tr>
                <th>-ESTUDIANTE-</th>
                <th>-NOTAS-</th>
                <th>-ASISTENCIAS-</th>
            </tr>
            </thead>
        </table>
        <table class="table text-center">
            <thead>
            <th scope="col">Apellidos</th>
            <th scope="col">Nombres:</th>
            <!--<th scope="col">Correo Institucional:</th>-->
            <th scope="col">Primer parcial:</th>
            <th scope="col">Segundo parcial:</th>
            <th scope="col">Final:</th>
            <th scope="col">Primer parcial:</th>
            <th scope="col">Segundo parcial:</th>
            <th scope="col">Final:</th>
            <th scope="col">Estado:</th>
            </thead>

        <tbody class="text-center">
        <tr *ngFor="let estudiante of DetalleEstudiante ">

            <td>
            {{estudiante.estudiante.apellido1}} {{estudiante.estudiante.apellido2}}
            </td>

            <td>
            {{estudiante.estudiante.nombre1}} {{estudiante.estudiante.nombre2}}
            </td>
            <!--
            <td>
            {{test2.estudiante.correo_institucional}}
            </td>
             -->
            <td>

                <input type="text"maxlength="5" size="4" id="nota1" name="nota1" >

            </td>
            <td>

                <input type="text"maxlength="5" size="4"  id="nota2" name="nota2">
            </td>
            <td>
                <input type="text"maxlength="5" size="4" id="nota_final" name="nota_final" >
            </td>

         <td>

                <input type="text"maxlength="5" size="4">
            </td>
            <td>
                <input type="text"maxlength="5" size="4" >
            </td>
            <td>

                <input type="text"maxlength="5" size="4">
            </td>

            <td>
                {{'en proceso'}}
            </td>

            <td>
                <button type="button" class="btn btn-success ml-1 btn-sm text-white fa fa-check text" aria-hidden=true (click)="createDetalleNotas(estudiante)">
                </button>
            </td>
        </tr>
        </tbody>
        </table>

    </div>
</div>


