<table>
    <tr>
        <td>
               <span  [ngClass]="{'text-danger':periodoLectivoSeleccionado.estado!='ACTUAL',
                    'text-success':periodoLectivoSeleccionado.estado=='ACTUAL'}" >
                        <strong>{{txtPeriodoActualHistorico}} :</strong>
                    </span>
        </td>

        <td>
            <select [disabled]="flagAll" name="periodoLectivoActual"
                    [(ngModel)]="periodoLectivoActual.id" class="form-control"
                    (change)="cambiarPeriodoLectivoActual()">
                <option [ngClass]="{'bg-success text-white':periodo.estado=='ACTUAL'}" value="{{periodo.id}}"
                        *ngFor="let periodo of periodosLectivos">{{periodo.nombre}}
                </option>
            </select>
        </td>
        <td>
            <div>
                <small class="text-muted" *ngIf="!flagAll" > * seleccione un periodo para revisar sus asignaturas actuales o anteriores</small>
            </div>
        </td>

    </tr>
</table>

<div *ngIf="!flagAll">
<table class="table">
   <thead>
   <th scope="col">Nivel:</th>
   <th scope="col">Asignaturas:</th>
   </thead>
    <tbody>
    <tr *ngFor="let detalleEstudiante of detalleEstudianteUser">
        <td>{{detalleEstudiante.asignatura.periodo_academico_id}}</td>
            <td>{{detalleEstudiante.asignatura.nombre}}</td>
                <td> <button class="btn-sm btn-info fa fa-book" aria-hidden="true" title=" Revisar calificaciones y asistencias de esta asignatura"
                             (click)="getDetalleNotaEstudiante(detalleEstudiante.asignatura.id,notaEstudianteDetalle)"></button></td>
    </tr>
    </tbody>
</table>
</div>

    <ng-template #notaEstudianteDetalle let-c="close" let-d="dismiss" >
        <div class="modal-header">
            <div>
                <small class="text-muted">*En caso de existir algun error contacte con su docente de la asignatura respectiva</small>

            </div>

        </div>

            <div class="modal-body">

                <table class="form-group">
                    <div class="form-group ">
                        <div class="col-lg-sm">
                        <label for="nota1"><b>Nota primer parcial:</b></label>
                        <option id="nota1" name="nota1" *ngFor="let detallenota of detalleNota">
                            {{detallenota.nota1}}
                        </option>
                        </div>

                        <div class="col-lg-sm">
                        <label for="nota2"><b>Nota segundo parcial:</b></label>
                        <option id="nota2" name="nota2" *ngFor="let detallenota of detalleNota">
                            {{detallenota.nota2}}
                        </option>
                        </div>

                        <div class="col-lg-sm">
                        <label for="nota_final"><b>Nota final:</b></label><br>
                        <option id="nota_final" name="nota_final" *ngFor="let detallenota of detalleNota"
                                [ngClass]="{'text-danger':detallenota.nota_final <=69.49,
                                'text-success':detallenota.nota_final >=69.50}">
                            {{detallenota.nota_final}}
                        </option>
                        </div>
                    </div>

                        <div class="form-group ">
                     <div class="col-lg-sm">
                        <label for="asistencia1"><b>Asistencia primer parcial:</b></label><br>
                        <option id="asistencia1" name="asistencia1" *ngFor="let detallenota of detalleNota">
                            {{detallenota.asistencia1}}
                        </option>
                    </div>

                   <div class="col-lg-sm">
                        <label for="asistencia2"><b>Asistencia segundo parcial:</b></label><br>
                        <option id="asistencia2" name="asistencia2" *ngFor="let detallenota of detalleNota">
                            {{detallenota.asistencia2}}
                        </option>
                    </div>

                   <div class="col-lg-sm">
                        <label for="asistencia_final"><b>Asistencia final:</b></label><br>
                        <option id="asistencia_final" name="asistencia_final" *ngFor="let detallenota of detalleNota"
                                [ngClass]="{'text-danger':detallenota.asistencia_final <= 69.99,
                                'text-success':detallenota.asistencia_final >=70.00}">
                            {{detallenota.asistencia_final}}
                        </option>
                    </div>


                        <div class="col-lg-sm">
                            <label for="estado_academico"><b>Estado Academico:</b></label><br>
                            <option id="estado_academico" name="estado_academico" *ngFor="let test of detalleNota"
                                    [ngClass]="{'text-danger':test.estado_academico!=='APROBADO',
                                'text-success':test.estado_academico=='APROBADO'}">
                                {{test.estado_academico}}
                            </option>

                        </div>
                </div>
                </table>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="c('close')">
        <span
            class="{{messages['saveConfirmationDialog2']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog2']['cancel']}}
            </button>
        </div>
    </ng-template>
