<div>
<table>
    <tr>
        <td>
            <span
                [ngClass]="{
                    'text-danger':
                        periodoLectivoSeleccionado.estado != 'ACTUAL',
                    'text-success':
                        periodoLectivoSeleccionado.estado == 'ACTUAL'
                }"
            >
                <strong>{{ txtPeriodoActualHistorico }} :</strong>
            </span>
        </td>

        <td>
            <select
                [disabled]="flagAll"
                name="periodoLectivoActual"
                [(ngModel)]="periodoLectivoActual.id"
                class="form-control"
                (change)="cambiarPeriodoLectivoActual()"
            >
                <option
                    [ngClass]="{
                        'bg-success text-white': periodo.estado == 'ACTUAL'
                    }"
                    value="{{ periodo.id }}"
                    *ngFor="let periodo of periodosLectivos"
                    >{{ periodo.nombre }}
                </option>
            </select>
        </td>

        <td>
            <div>
                <small class="text-muted" *ngIf="!flagAll">
                    * seleccione un periodo para revisar sus asignaturas
                </small
                >
            </div>
        </td>
    </tr>
</table>
</div>

<div *ngIf="!flagAll">
    <table class="table">
        <thead>
            <th scope="col">Nivel:</th>
            <th scope="col">Asignaturas:</th>
        </thead>
        <tbody>
            <tr *ngFor="let detalleEstudiante of detalleEstudianteUser">
                <td>{{ detalleEstudiante.asignatura.periodo_academico_id }}</td>
                <td>{{ detalleEstudiante.asignatura.nombre }}</td>
                <td>
                    <button
                        class="btn-sm btn-info fa fa-book"
                        aria-hidden="true"
                        title=" Revisar calificaciones y asistencias de esta asignatura"
                        (click)="
                            getDetalleNotaEstudiante(
                                detalleEstudiante.asignatura.id,
                                contentNotaEstudianteDetalle
                            )
                        "
                    ></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #contentNotaEstudianteDetalle let-c="close" let-d="dismiss">
    <form name="getDetalleNotaEstudiante" method="get" #formCtrl="ngForm">
        <div class="modal-body">
            <table class="table-sm">
                <table class="table table-responsive">
                     <h5 class="text-center"><b>Calificaciones:</b></h5>
                     <td>
                         <div>
                         <label for="nota1">Primer parcial: </label>
                  <input size="5" maxlength="5" id="nota1" name="nota1"[disabled]="true" [(ngModel)]="detalleNota.nota1"
                  />
                        </div>
                     </td>
                    <td>
                        <div>
                            <label for="nota2">Segundo parcial: </label>
                            <input size="5" maxlength="5" id="nota2" name="nota2" [disabled]="true" [(ngModel)]="detalleNota.nota2"
                            />
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="nota_final">Final: </label>
                            <input size="5" maxlength="5" id="nota_final" name="nota_final" [disabled]="true" [(ngModel)]="detalleNota.asistencia_final"
                            />
                        </div>
                    </td>
          </table>

                <table class="table table-responsive">
                    <h5 class="text-center"><b>Asistencias:</b></h5>

                    <td>
                        <div>
                            <label for="asistencia1">Primer parcial: </label>
                            <input size="5" maxlength="5" id="asistencia1" name="asistencia1" [disabled]="true" [(ngModel)]="detalleNota.asistencia1"
                            />
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="asistencia2">Segundo parcial: </label>
                            <input size="5" maxlength="5" id="asistencia2" name="asistencia2" [disabled]="true" [(ngModel)]="detalleNota.asistencia2"
                            />
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="asistencia_final">Final: </label>
                            <input size="5" maxlength="5" id="asistencia_final" name="asistencia_final"[disabled]="true" [(ngModel)]="detalleNota.asistencia_final"
                            />
                        </div>
                    </td>
                </table>
                <div>
                    <input name="estado_academico" size="9" [disabled]="true" [ngClass]="{
                            'text-danger':
                                detalleNota.estado_academico !== 'APROBADO',
                            'text-success':
                                detalleNota.estado_academico == 'APROBADO'
                        }"

                           [(ngModel)]="detalleNota.estado_academico">
                </div>
        </table>
      </div>

      <div class="modal-footer">
     <button  class="btn btn-secondary fa fa-times" (click)="c('close')"> Cerrar</button>
      </div>
    </form>

</ng-template>
